.form-control {
    border: 2px solid black;
    padding: 10px;
    width: 500px;
    border-radius: 4px;
    font-size: 16px;
}

.errors {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    background-color: yellow;
}