{% extends 'index.html' %}
{% block contents %}
    <form action="" method=POST>
        {% csrf_token %}
        
        <div>
            {% for field in form %}
                <ul>
                {% for error in field.errors %}
                   <li>{{error}}</li> 
                {% endfor %}
                </ul>
            {% endfor %}
        </div>
        
        <label for="name">Name:</label><br>
        {{form.name}}
        <br>
        <label for="email">E-mail:</label><br>
        {{form.email}}
        <br>
        <label for="gender">Gender:</label><br>
        {{form.gender}}
        <br>
        <input type="submit" value="CREATE">
    </form>
{% endblock contents %}