<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta "viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
</head>
<body>
    {% for category, message in get_flashed_messages(with_categories=true)  %}
        <div class="alert alert-{{category}}">
            {{message}}
        </div>
    {% endfor %}
    {% block contents %}{% endblock contents %}
</body>
</html>