<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie</title>
</head>
<body>
    <h1>Cookie</h1>
    <form action="/setcookie" method="post">
        <label style="font-weight:bold;">Name:</label><br>
        <input type="text" name="name" id="name">
        <input type="submit" value="SET" style="cursor:pointer;">
    </form>
    <a href="/getcookie">Get</a> | <a href="/clearcookie">Clear</a>
</body>
</html>