<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <title>Index</title>
</head>
<body style="background-color: bisque; color:red;">
    <h1>Hello, World!</h1>
    <ul>
    {% for person in people %}
        <li>{{person}}</li>
    {% endfor %}
    </ul>
    <h1>{{ session.get('name')}}</h1>

    <form action="/post" method="post">
        <input type="submit" value="POST" id="btn_post" name="btn_post">
    </form>
</body>
</html>