<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session</title>
</head>
<body>
    <h1>Session</h1>
    <form action="/setsession" method="post" id="form">
        <label style="font-weight:bold;">Name:</label><br>
        <input type="text" name="name" id="name">
        <input type="submit" value="SET" style="cursor:pointer;">
    </form>
    <a href="/getsession">Get</a> | <a href="/clnsession">Clear</a>
</body>

<script>
    document.getElementbyId("form").reset();
</script>
</html>