{% extends "index.html" %}

{% block contains %}
    
    {% if edition %}
        <h3>Edition</h3>
    {% else %}
        <h3>Creation</h3>
    {% endif %}
    
    <form method="post" enctype="multipart/form-data">
        
        {% if form.errors  %}
            <div style="background-color:yellow;color:red;">
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% csrf_token %}
        {{form.as_p}}
        {% if edition %}
            <a href="{% url 'natural_person_list' %}">LIST</a>
            <input type="submit" value="EDIT" name='edit' id='edit'>
            <input type="submit" value="DELETE" name='delete' id='delete'>
        {% else %}
            <a href="{% url 'natural_person_list' %}">LIST</a>
            <input type="submit" value="CREATE" name='create' id='create'>
            <input type="reset" value="RESET" name='reset' id='reset'>
        {% endif %}
    </form>
    
    
   
{% endblock contains %}