{% extends "index.html" %}

{% block contains %}
    
    <h3>List</h3>
    <form method="GET">
        {% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <td colspan="2"><h3>Search</h3></td>
                </tr>
                <tr>
                    <td><input type="text" name="search" id="search"></td>
                    <td><input type="submit" value="SEARCH"></td>
                </tr>
            </tbody>
        </table>
    </form>
    <table>
        <thead>
            <tr>
                <th align="center">ID</th>
                <th align="left">NAME</th>
                <th align="center">SELECT</th>
            </tr>
        </thead>
        <tbody>
            {% for natural_person in natural_persons  %}
            <tr>
                <td align="center">{{natural_person.id}}</td>
                <td align="left">{{natural_person.name}}</td>
                <td align="center"><a href="{% url 'natural_person_details' natural_person.id %}">SELECT</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <div class="pagination">
        <span class="step-links">
            {% if natural_persons.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ natural_persons.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ natural_persons.number }} of {{ natural_persons.paginator.num_pages }}.
            </span>
    
            {% if natural_persons.has_next %}
                <a href="?page={{ natural_persons.next_page_number }}">next</a>
                <a href="?page={{ natural_persons.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <a href="{% url 'natural_person_create' %}">CREATE</a>

{% endblock contains %}